body {
    background-color: rgb(88, 119, 119);
}

#nd-background{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    margin-left: 705px;
    width: 500px;
} 

#name_of_list{
    margin-top: -5px;
    margin-left: 21px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35pt;
}

#submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    font-size: 25px;
    border-radius: 15px;
}

#submit_button_div{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input_place_div{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#product{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 25px;
    font-size: 20px;
}

#amount{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 25px;
    font-size: 20px;
}

.stroka_v_ul{
   display: flex;
   margin-top: 50px;
   margin-left: -400px;
   font-size:20pt;
   font-family: monospace;
   
}

#nd_stroka_v_ul{
    position: fixed;
    left: 764px;
    margin-top: 50px;
    font-size:20pt;
    font-family: monospace;
}

.btn_delete {
    position: absolute;
    margin-top: 30px;
    right: 750px;
    padding: 12px 16px 12px 16px;
    font-size: 15pt;
    border-radius: 5px;
}
